.bodygui {
  background: url(./assets/batata.jpg) no-repeat center center fixed;

}
.bodyindex{
  background: url(./assets/fundomadeira.jpg) no-repeat center center fixed ;
}

.tituloprincipal{
  width: 20rem;
  font-family: Palatino Linotype;
  font-size:xx-large
} 

.worst{
  margin: auto;
  font-family: Copperplate Gothic Light
}

.caixaamarela{
  transition:0.5s;
  border: 3px solid rgb(128, 26, 0);  
  background-color: rgba(228, 225, 81, 0.747);
  margin:auto;
  padding: 2rem;
  outline: 1px solid black;
  box-shadow: 1px 1px 10px 5px rgba(0,0,0,0.2);
  text-align: center;
  font-family: Palatino Linotype;
  font-size: large;
}

.caixaamarela:hover{
  background-color: rgba(228, 147, 81, 0.747);
  transition:0.5s;  
}

.caixabranca{
  transition:0.5s;
  border: 3px solid rgb(128, 26, 0);
  background-color: rgba(223, 210, 210, 0.747);
  margin:auto;
  padding: 2rem;
  outline: 1px solid black;
  box-shadow: 1px 1px 10px 5px rgba(0,0,0,0.2);
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.caixabranca:hover{
  background-color: rgba(255, 255, 255, 0.747);
  transition:0.5s;  
}

.fotoprincipal{ 
  border: 3px solid rgb(128, 26, 0);
  display: block;
  box-shadow: 1px 1px 10px 5px rgba(0,0,0,0.2);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.graphix{
  margin-top: 3rem;
  margin-bottom: 3rem;
}


.lista{
  margin-left:30rem;
  margin-right:30rem;
  text-align: left;
}

.linktop{
  color:rgb(236, 93, 74);
  text-decoration: none;
}

nav{  
  text-align: center;
  margin: 0 auto;
  width: 100%;
}

.button{
  size: 10rem;
  margin: 0.3rem;
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);
  transition: transform 1s;
  transform: scale(1);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button:hover,
button:focus {
  background: rgb(234, 236, 74);
  transform: scale(1.2);
  
}

.logobatata{
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter:         drop-shadow(5px 5px 5px #222); 
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.legendapao{
  margin-left: 30rem;
  margin-right: 30rem;
}

.titulomapa{
  margin-left:32.48rem;
  margin-right:32.48rem;
  
}
.mapa{
  display: block;
  margin-left: auto;
  margin-right: auto;
} 